#container table{
	margin: 20px auto;
}

td[id*="grid"] {
	width: 100px;
	height: 100px;
	background: #455a64;
	vertical-align: middle;
	text-align: center;
	color: white;
	font-size: 55px;
	font-weight: bolder;
}

#title {
	margin: 30px auto;
	text-align: center;
	color: #d35400;
	font-size: 55px;
	font-weight: bolder;
	font-style: oblique;
}

#record {
	display: inline-block;
	left: 54%;
	margin: auto;
	position: relative;
	color: #2c3e50;
}

#control {
	display: inline-block;
	left: 34%;
	margin: auto;
	position: relative;
}

#scores {
	color: #2ecc71;
}
#highest {
	color: #c0392b;
}